//- Uncomment this line [ Sage.common.stickyISI(); ] in main.js to enable

if(fileName != 'important_safety_information')
  #isi
    #isi_sticky
      .expand_isi
        .offset
          .container
            button#isi_expand_collapse(type="button") #[i.fa.fa-angle-up]
            button#isi_jump(type="button") #[i.fa.fa-angle-double-down]
      .sticky_content
    #isi-container.ISI-container.clone_target
      .scroll-container
        .ISI-content.isi-wrapper
          include _isi.pug