h2 INDICATION AND IMPORTANT SAFETY INFORMATION
p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci at corporis itaque qui ullam ipsam impedit officia laboriosam asperiores molestias, esse atque, ad praesentium aperiam perferendis fuga! Laudantium, aut?


h2 IMPORTANT SAFETY INFORMATION
p
	strong Lorem, ipsum dolor sit amet consectetur adipisicing elit.
ul
	li Ab adipisci
	li At corporis
	li Itaque qui
	li Ullam ipsam
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium debitis quam eos, suscipit magnam ducimus quo odio impedit nobis quisquam consequuntur quibusdam illo nihil aut sequi dolore expedita delectus?
p Lorem ipsum dolor sit, amet consectetur adipisicing elit:
ul
	li Ab adipisci
	li At corporis
	li Itaque qui
	li Ullam ipsam
p
	strong Doloribus corporis maiores! Suscipit voluptate atque tempora id porro nam laboriosam doloribus quos ullam:
ul
ul
	li Ab adipisci
	li At corporis
	li Itaque qui
	li Ullam ipsam
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius labore et perspiciatis illum sit enim facere aliquid iste tempora cum libero repellat, voluptatibus praesentium odit, quam repellendus aperiam vero at.
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatum illum sequi rerum est quo modi saepe vitae, quod animi quidem porro unde impedit reiciendis. Fugit blanditiis delectus accusamus eius?
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni in ratione ipsa, voluptatibus mollitia libero culpa eaque nulla placeat qui itaque illum repellendus est amet aspernatur! Neque eligendi nihil earum.
p
	strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium corporis maiores nobis, quos quasi minima eveniet a delectus. 
p
	strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptatem nisi officiis necessitatibus delectus. Cupiditate possimus asperiores consequatur harum repellendus similique iusto ad nulla quia! Non enim eos repudiandae inventore!
