
if page_name != "Important Safety Information"
	include ./_isi-sticky.pug

footer(class="content-info" role="contentinfo")
	.offset
		.container
			div
				.copyright
					.logo
						img(src="/images/logo.png", alt="logo")
					.info
						.contwnt
							| Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
							| Quae consequatur expedita eius doloremque non distinctio iure.<br>
							| Consequuntur optio veritatis libero neque 123456 &nbsp;04/2019
			div
				nav.footer-navigation
					ul
						li #[a(href="/terms-of-use") Terms of Use]
						li #[a(href="/privacy-policy") Privacy Policy]
						li #[a(href="/site-map") Sitemap]
					ul
						li #[a(href="/pdfs/Medication_Guide.pdf" target="_blank") Medication Guide]
						li #[a(href="/pdfs/Prescribing_Information.pdf" target="_blank") Full Prescribing Information]
						li #[a(href="/important-safety-information") Important Safety Information]
