doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	title #{title}
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	link(rel='stylesheet', href='css/styles.css')