header(class="banner navbar navbar-default navbar-static-top", role="banner")
	.offset
		.container

			.pre-header
				a(href="/pdfs/Medication_Guide.pdf" target="_blank") Medication Guide
				a(href="/pdfs/Prescribing_Information.pdf" target="_blank") Full Prescribing Information
				a(href="/hcp") For US Healthcare Professionals

			.navbar-wrapper
				.navbar-header
					button#navbar-open(type="button" aria-label='Open Navigation') #[i.fa.fa-bars]
					a(class="navbar-brand", href="/")
						img.logo(src="/images/logo.png", alt="logo")

				nav(id="navigation" class="collapse" role="navigation")
					.mobile-header
						button#navbar-close(type="button" aria-label='Close Navigation') #[i.fa.fa-times]
					include nav.pug

				#mobile_nav_backdrop


