
mixin responsiveImage(image_class, id, src, srcset_2x, srcset_3x, width, height, alt)
	img(class=image_class id=id src=src srcset=src + ' 1x, ' + srcset_2x + ' 2x, ' + srcset_3x + ' 3x', alt=alt, width=width, height=height)




