//- modal format
#demo.modal.modal-slide
	.modal_overlay.close
		.modal_container(role='dialog' aria-modal='true' aria-labelledby='modal')
			button.close.modal_close(aria-label='Close modal' type="button") #[i.fa.fa-times]
			.modal_content
				.title2 modal example
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aliquam odio dolorum illum sit iusto odit, reiciendis vero, quasi expedita ab sint et, consequatur facilis pariatur asperiores aspernatur obcaecati quae.


//- external modal
#external.modal.modal-slide
	.modal_overlay.close
		.modal_container(role='dialog' aria-modal='true' aria-labelledby='external-url')
			button.close.modal_close(aria-label='Close modal' type="button") #[i.fa.fa-times]
			.modal_content
				.title2 You are now leaving website.com
				p The link you clicked will take you to a third-party site, which is solely responsible for its content. Our website does not control or influence this site.
				.buttons
					button.btn.close(aria-label='Close modal') CANCEL
					a.btn.continue(href="" target="_blank") OK