ul.primary
	li(class=fileName == 'homepage' ? "active" : "inactive") #[a(href='/') Home]
	li(class=fileName == 'page-a' ? "active" : "inactive") #[a(href='/page_a') Page A]
	li(class=fileName == 'page-b' ? "active" : "inactive") #[a(href='/page_b') Page B]
	li.sub(class=section_name == 'Understanding Psoriasis' ? "active" : "inactive") #[a(href='/page_c') Page C]
		ul
			li(class=fileName == 'about_plaque_psoriasis' ? "active" : "inactive") #[a(href='/page_c') Page C]
			li(class=fileName == 'levels_of_severity' ? "active" : "inactive") #[a(href='/page_c-1') Page C-1]
			li(class=fileName == 'treatment_options' ? "active" : "inactive") #[a(href='/page_c-2') Page C-2]