if link1 && link2
	section.prefooter
		.offset
			.title2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
				.cta
					.cta_content
						.icon(class=icon1)
						.message #{message1}
						.button #[a.btn(href=link1) #{linkText1}]
				.cta
					.cta_content
						.icon(class=icon2)
						.message #{message2}
						.button #[a.btn(href=link2) #{linkText2}]



if footerForm
	section#signup-form
		.offset
			.container
				.content
					.title3
						.icon
							img(src="/images/icon-heart.svg" width="100" height="100")
						div Lorem ipsum dolor sit amet consectetur adipisicing elit.
						
					.information
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur ad officiis ullam numquam facere nostrum, qui, dolorum reprehenderit harum neque cumque natus, corrupti doloremque saepe esse ex quibusdam molestiae.
						div
							img(src="/images/national_psoriasis.png" width="306" height="124" alt="National Psoriasis Foundation")
				.form-container
					

				#form-response(style="display:none;")
					.content
						.title2 Thanks for signing up!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						p Quae optio dolore fugit temporibus mollitia. Est pariatur.