-
	// SITE GLOBAL VARIABLES \\
	siteName = "SITE-NAME(variables.pug)"


	// PAGE VARIABLE ROUTER \\
	if(fileName == 'homepage'){
		pageTitle = siteName + " | MISSING"
		pageDescription = "PAGE DESCRIPTION MISSING..."
		ogTitle="Home"
		ogDescription="OG DESCRIPTION MISSING..."
	}
	/* START PAGE CONDITIONALS */


	//- else if(fileName == 'page_name'){
	//- 	pageTitle = ""
	//- 	pageDescription = ""
	//- 	ogTitle=""
	//- 	ogDescription=""
	//- }


	/* END PAGE CONDITIONALS */
	else if(fileName == 'important_safety_information'){
		pageTitle = "Important Safety Information | "+siteName
		pageDescription = ""
		ogTitle="IMPORTANT SAFETY INFORMATION"
		ogDescription=""
	}

	else if(fileName == 'privacy_policy'){
		pageTitle = "Privacy Policy | "+siteName
		pageDescription = ""
		ogTitle="Privacy Policy"
		ogDescription=""
	}

	else if(fileName == 'terms_of_use'){
		pageTitle = "Terms of Use | "+siteName
		pageDescription = ""
		ogTitle="Terms of Use"
		ogDescription=""
	}

	else if(fileName == 'site_map'){
		pageTitle = "Sitemap | "+siteName
		pageDescription = ""
		ogTitle="Sitemap"
		ogDescription=""
	}

	else if(fileName == 'four0four'){
		pageTitle = "Error: 404"
		pageDescription = "404 - The page you’re looking for doesn’t exist."
		ogTitle="Error: 404"
		ogDescription="404 - The page you’re looking for doesn’t exist."
	}

	else{
		pageTitle = siteName
		pageDescription = siteName
		ogTitle = siteName
		ogDescription = siteName
	}
