// reset all the things!
@import '../../node_modules/reset-css/sass/_reset.scss';
// @import 'base/mini';
// @import '../../node_modules/mini\.css/src/mini/core.scss';


// font awesome
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
// @import "../../node_modules/font-awesome/scss/variables";
// @import "../../node_modules/font-awesome/scss/path";
// @import "../../node_modules/font-awesome/scss/core";
// @import "../../node_modules/font-awesome/scss/icons";

// Building blocks
@import "base/_variables";
@import "base/_extend";
@import "base/_include.scss";


// Header/Layouts(only one uncommented out!):
// @import "layouts/_default";
@import "layouts/_sidebar";


// // global:
@import "base/_base";
@import "base/_layout";
@import "base/_forms";
@import "base/_animation";
@import "base/_buttons";
@import "base/_global";
@import "base/_responsive-table";
@import "base/_typography";
@import "base/_debug.scss";


// components:
@import "components/_footer";
@import "components/_modal";
@import "components/_post-content";
@import "components/_pre-content";
@import "components/_sticky-footer";
@import "components/_js";


// //pages:
@import "pages/home";