$sidebar-width: auto;

header {
	padding: 0;
	font-size: 12px;

	@media (min-width: $screen-md) {
		margin-left: $sidebar-width;
	}

	button {
		min-width: auto;
		min-height: auto;
		box-shadow: none;
		padding: 0;
	}


	.container {
		max-width: initial;
		padding: 0;
	}


	.navbar-header {
		position: relative;
		max-width: $content-width-max;
		margin: 0 auto;
		padding: 0;
	}


	#navbar-open {
		color: $brand-secondary;
		display: block;
		position: absolute;
		top: $gutter;
		left: $gutter;
		padding: 0;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: 0;
		font-size: 35px;
		transition: text-shadow 0.2s linear;

		&:hover {
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		}

		&:focus {
			outline: 0;
		}

		.fa {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: block;
			line-height: 1.15;
		}

		@media (min-width: $screen-sm) {
			display: none;
		}
	}

	.navbar-header {
		position: relative;
	}


	.navbar-brand {
		background-color: #fff;
		display: block;
		padding: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 200px;

		@media (min-width: $screen-xs) {
			max-width: 250px;
			padding: 15px 40px;
		}

		@media (min-width: $screen-md) {
			max-width: 100%;
		}

		.logo {
			width: 100%;
			height: auto;
			max-width: 250px;
		}
	}



	nav {
		z-index: $nav-desktop; //for sub menu over main
		background-color: $brand-secondary-accent;
		position: relative;
		text-transform: uppercase;

		@media (max-width: $screen-xs-max) {
			z-index: $nav-mobile;
			transition: left 0.3s ease;
			background-color: $brand-secondary-accent;
			width: 320px;
			position: absolute;
			top: 0;
			left: -320px;
			height: 100vh;

			-webkit-transform: translateZ(0px);
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-perspective: 1000;

			.mobile-header {
				display: relative;

				#navbar-close {
					display: block;
					color: #fff;
					font-size: 20px;
					line-height: 30px;
					top: 0;
					right: 0;
					background-color: transparent;
					height: 35px;
					width: 35px;
					border: 0;

					&:focus {
						outline: 0;
					}
				}
			}

			&.open {
				left: 0;
				overflow-y: scroll;
				box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.35);
			}

		}


		#navbar-close {
			display: none;
		}




		ul {
			@media (max-width: $screen-xs-max) {
				position: relative;
				padding: 0;

				&.secondary {
					text-transform: none;

					&::before {
						content: '';
						display: block;
						border-top: 1px solid $brand-primary;
						width: 15%;
						margin: 20px 15px;
					}
				}

				li {
					padding: 0;
					position: relative;
					font-size: 14px;
					line-height: 1.3;

					a {
						color: #fff;
						text-decoration: none;
						padding: 10px 0 10px 10px;
						display: block;
						min-height: 30px;

						&:hover {
							background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.2) 95%);
						}
					}

					&.active {
						a {
							background: $brand-secondary;
						}

						&.sub {
							ul {
								li {
									&.active {
										a {
											background: rgba(7, 30, 63, 0.5);
										}
									}
								}
							}
						}
					}

					&.sub {
						>a {
							padding-right: 30px;
							position: relative;

							&::after {
								pointer-events: none;
								text-align: center;
								font: normal normal normal 20px/30px FontAwesome;
								content: '\f0fe';
								position: absolute;
								right: 0;
								top: 0;
								display: block;
								height: 30px;
								width: 30px;
							}
						}

						&.sub-open {
							>a {
								&::after {
									pointer-events: none;
									font: normal normal normal 20px/30px FontAwesome;
									content: '\f146';
								}
							}

						}

						ul {
							transition: max-height 0.4s ease;
							overflow: hidden;

							&.closed {
								max-height: 0;
							}

							&.open {
								max-height: 400px;
								transition: max-height 0.4s ease;
							}

							li {

								a {
									background: transparent;
									padding-left: 30px;
									padding-right: 10px;

									&:hover {
										background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.2) 95%);
									}
								}
							}
						}
					}
				}
			}

			@media (min-width: $screen-sm) {
				padding: 0;
				display: flex;
				list-style-type: none;
				float: none;
				position: relative;
				max-width: $content-width-max;
				margin: 0 auto;
				padding: 0;

				>li {
					flex: 1;
					display: flex;
					justify-content: center;
					flex-direction: column;
					text-align: center;
					vertical-align: middle;
					position: relative;


					a {
						text-decoration: none;
						color: #fff;
						font-size: 14px;
						padding: 10px;
					}

					&.active {
						a {
							background: $brand-secondary;
						}
					}

					&:not(:last-child)::after {
						display: block;
						position: absolute;
						border-right: 1px solid #000;
						height: 100%;
						right: 0;
						top: 0;
						content: '';

						@media (min-width: $screen-md) {
							top: 20%;
							height: 60%;
						}
					}



					&.sub {


						>a {
							padding-right: 30px;
						}

						ul {
							outline: 2px solid red;
							display: block;
							width: 100%;
							transition: max-height 0.4s ease;
							overflow: hidden;
							position: absolute;
							top: 100%;
							background-color: $brand-secondary-accent;

							&.closed {
								max-height: 0;

							}

							&.open {

								max-height: 400px;
								transition: max-height 0.4s ease;
							}

							li {
								text-align: left;

								a {
									background: transparent;
									padding-left: 30px;
									padding-right: 10px;

									&:hover {
										background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.2) 95%);
									}
								}
							}
						}
					}

				}
			}

		}

	}
}



.pre-header {
	max-width: $content-width-max;
	margin: 0 auto;
	padding: 0;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;

	@media (min-width: $screen-md) {
		flex-wrap: nowrap;
		justify-content: flex-end;
	}

	>* {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		vertical-align: middle;
		flex-basis: 1;
		font-size: 12px;
		padding: 5px 15px;
		position: relative;

		&:not(:last-child)::after {
			display: block;
			position: absolute;
			border-right: 1px solid #000;
			height: 100%;
			right: 0;
			top: 0;
			content: '';

			@media (min-width: $screen-md) {
				top: 20%;
				height: 60%;
			}
		}

		@media(max-width: $screen-md) {
			flex: 1;
		}

	}
}