$sidebar-width: 250px;

header {
	padding: 0;
	font-size: 12px;


	@media (min-width: $screen-md) {
		margin-left: $sidebar-width;
	}

	.container {
		@media (max-width: $screen-md) {
			display: flex;
			flex-direction: column;
			padding: 0;
		}

		@media (min-width: $screen-md) {
			max-width: $content-width-max;
			padding: 15px $gutter;
			margin: 0 auto;
		}
	}

	.navbar-brand {
		background-color: #fff;
		display: block;
		padding: 10px 20px;
		width: 100%;
		margin: 0 auto;
		max-width: 200px;

		@media (min-width: $screen-xs) {
			max-width: 250px;
			padding: 15px 40px;
		}

		@media (min-width: $screen-md) {
			// @media (max-width: $screen-md) {
			max-width: 100%;
		}

		.logo {
			width: 100%;
			height: auto;
			max-width: 250px;
		}
	}

	.navbar-wrapper {


		@media (max-width: $screen-sm-max) {
			order: 1;
		}

		@media (min-width: $screen-md) {
			box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.35);
			background-color: $brand-secondary;
			z-index: $sidebar-nav;
			top: 0;
			position: fixed;
			left: 0;
			height: 100vh;
			width: $sidebar-width;
		}


		@media (max-height: 750px) and (min-width:$screen-md) {
			-ms-overflow-style: none;
			overflow-y: scroll;

			.secondary {
				padding-bottom: 40px;
			}
		}


	}




	#navbar-open {

		color: $brand-secondary;
		display: block;
		position: absolute;
		top: $gutter;
		left: $gutter;
		padding: 0;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: 0;
		font-size: 35px;
		transition: text-shadow 0.2s linear;

		&:hover {
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		}

		&:focus {
			outline: 0;
		}

		.fa {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: block;
			line-height: 1.15;
		}

		@media (min-width: $screen-md) {
			display: none;
		}
	}

	.navbar-header {
		position: relative;
		order: 1;
	}

	.mobile-header {

		display: block;
		background-color: #fff;

		#navbar-close {
			color: $brand-secondary;
			position: relative;
			padding: 0;
			left: 10px;
			width: 40px;
			height: 40px;
			background-color: transparent;
			border: 0;
			font-size: 35px;
			transition: text-shadow 0.2s linear;

			&:hover {
				text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
			}

			&:focus {
				outline: 0;
			}

			.fa {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				display: block;
				line-height: 1.15;
			}
		}

		@media (min-width: $screen-md) {
			display: none;
		}
	}

	nav {
		z-index: $sidebar-nav;
		color: #fff;
		text-transform: uppercase;

		@media (max-width: $screen-md) {
			transition: left 0.3s ease;

			background-color: $brand-secondary-accent;
			width: $sidebar-width;
			position: absolute;
			top: 0;
			left: -$sidebar-width;
			height: 100vh;
			-webkit-transform: translateZ(0px);
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-perspective: 1000;

			&.open {
				left: 0;
				overflow-y: scroll;
				box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.35);

				.secondary {
					padding-bottom: 40px;
				}
			}
		}

		>ul {
			position: relative;
			padding: 0;
			margin: 0;
			list-style-type: none;

			&.secondary {
				text-transform: none;

				&::before {
					content: '';
					display: block;
					border-top: 1px solid $brand-primary;
					width: 15%;
					margin: 20px 15px;
				}
			}

			li {
				padding: 0;
				position: relative;
				font-size: 14px;
				line-height: 1.3;

				a {
					color: #fff;
					text-decoration: none;
					padding: 10px 0 10px 10px;
					display: block;
					min-height: 30px;

					&:hover {
						background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.2) 95%);
					}
				}

				&.active {
					a {
						background: $brand-secondary;
					}

					&.sub {
						ul {
							li {
								&.active {
									a {
										background: rgba(7, 30, 63, 0.5);
									}
								}
							}
						}
					}
				}

				&.sub {
					>a {
						padding-right: 30px;
						position: relative;

						&::after {
							pointer-events: none;
							text-align: center;
							font: normal normal normal 20px/30px FontAwesome;
							content: '\f0fe';
							position: absolute;
							right: 0;
							top: 0;
							display: block;
							height: 30px;
							width: 30px;
						}
					}

					&.sub-open {
						>a {
							&::after {
								pointer-events: none;
								font: normal normal normal 20px/30px FontAwesome;
								content: '\f146';
							}
						}

					}

					ul {
						transition: max-height 0.4s ease;
						overflow: hidden;

						&.closed {
							max-height: 0;
						}

						&.open {
							max-height: 400px;
							transition: max-height 0.4s ease;
						}

						li {

							a {
								background: transparent;
								padding-left: 30px;
								padding-right: 10px;

								&:hover {
									background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.2) 95%);
								}
							}
						}
					}

					button {
						color: #fff;
						font-size: 20px;
						line-height: 30px;
						position: absolute;
						top: 0;
						right: 0;
						background-color: transparent;
						height: 35px;
						width: 35px;
						border: 0;

						&:focus {
							outline: 0;
						}
					}
				}
			}
		}
	}






	.pre-header {
		flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;

		@media (min-width: $screen-md) {
			flex-wrap: nowrap;
		}

		>* {
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			vertical-align: middle;

			@media(max-width: $screen-md) {
				flex: 1;
			}
		}

		a {

			&:first-child {
				@media (max-width: $screen-sm-max) {
					order: 1;
					width: 100%;
					flex-basis: 100%;
					border-radius: 0;

				}

				@media (min-width: $screen-md) {
					margin-right: 10px;
					align-self: flex-start;
				}
			}

			&:not(.btn) {
				flex-basis: 1;
				color: #857874;
				text-decoration: none;
				padding: 10px 20px;
				position: relative;

				&:hover {
					text-decoration: underline;
				}

				@media (max-width: $screen-xs) {
					font-size: 10px;
					line-height: 1.2;
					padding: 5px 20px;
				}

				&:not(:last-child)::after {
					display: block;
					position: absolute;
					border-right: 1px solid #000;
					height: 100%;
					right: 0;
					top: 0;
					content: '';

					@media (min-width: $screen-md) {
						top: 20%;
						height: 60%;
					}
				}
			}
		}
	}
}