* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $text-color;
	line-height: $line-height-base;
	margin: 0;
	padding: 0;

	.backdrop {
		opacity: 0;
	}

	&.lock {
		// position: fixed;
		overflow: hidden;
		// height: 100vh;
		width: 100vw;
	}

	&.takeover {
		@media (max-width: $screen-md) {
			position: fixed;
			overflow: hidden;
			height: 100vh;
			width: 100vw;

			#mobile_nav_backdrop {
				z-index: $nav-mobile-backdrop;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100vw;
				height: 100vh;
				transition: opacity 0.2s ease;
				transition-delay: opacity 0.2s;
				position: absolute;
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}
}