// .btn,
input[type="submit"],
input[type="button"],
input[type="reset"],
.btn {
	font-size: 12px;
	letter-spacing: 0.13em;
	transition: background-color 0.3s ease;
	background-color: $brand-primary;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: auto;
	border-radius: 5px;
	min-width: 150px;
	min-height: 40px;
	padding: 11px 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;

	&[type="reset"] {
		background-color: $brand-secondary;

		&:hover {
			background-color: $brand-secondary-accent;
		}
	}

	&[type="submit"] {
		background-color: $link-color;

		&:hover {
			background-color: $link-color-accent;
		}
	}

	&:hover {
		background-color: $brand-primary-accent;
	}
}