// yanno utility
html {
  &:before {
    z-index: 999999999;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    content: '1x';
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 5px 0 0 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    padding: 5px;

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      content: '2x';
    }

    @media (-webkit-min-device-pixel-ratio: 3),
    (min-device-pixel-ratio: 3) {
      content: '3x';
    }
  }

  &:after {
    z-index: 999999999;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    content: 'base';
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0 5px 0 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    padding: 5px;

    @media (min-width: $screen-xs) {
      content: "xs / #{$screen-xs}";
    }

    @media (min-width: $screen-sm) {
      content: "sm / #{$screen-sm}";
    }

    @media (min-width: $screen-md) {
      content: "md / #{$screen-md}";
    }

    @media (min-width: $screen-lg) {
      content: "lg / #{$screen-lg}";
    }
  }
}