// extend on flex child to center content
// @extend %v-center
%v-center {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: column;
	vertical-align: middle;
	align-items: stretch;
}

// base link styles
%link {
	cursor: pointer;
	color: $link-color;
	transition: color 0.3s linear;
	text-decoration: none;
	display: inline;
	position: relative;
	text-decoration: underline;

	&:hover {
		color: $link-color-accent;

		&::after {
			border-bottom: 1px solid $link-color-accent;
		}
	}
}

// base spacing for text content areas
%spacing {

	*+*:not(div) {
		margin-top: $content-spacing;
	}
}