.required_notice {
	margin: 30px 0;
	@extend %spacing;
}

// MARKETO \\
.mktoForm {
	font-family: $font-family-sans-serif;
	width: 100%;
	max-width: 600px;

	.mktoAsterix {
		display: none;
	}

	// .mktoRequiredField .mktoAsterix {
	// 	display: block;
	// }

	input[type="text"],
	input[type="email"],
	input[type="date"],
	input[type="tel"] {
		font-family: $font-family-sans-serif;
		border: 1px solid #979797;
		padding: 10px;
		width: 100%;
		font-size: 16px;
		line-height: 1;
		color: $text-color;
	}

	select {
		font-family: $font-family-sans-serif;
		background: #fff;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		line-height: 1;
		color: $text-color;
		border: 1px solid #979797;
	}

	.mktoHtmlText,
	label {
		display: block;
		margin: 30px 0 5px;
	}

	.mktoError {
		color: $error;
		padding-top: 10px;

		.mktoErrorMsg {
			display: inline-block;
		}

		.mktoErrorArrowWrap {
			display: inline-block;
			padding-right: 10px;

			.mktoErrorArrow {
				display: inline;

				&::before {
					content: "\f106";
					display: inline-block;
					// height: 100%;
					color: inherit;
					font: normal normal normal 20px/1.5 FontAwesome;
					font-size: 20px;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
				}
			}
		}
	}

	.mktoRadioList,
	.mktoCheckboxList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;

		input[type="radio"],
		input[type="checkbox"] {
			display: none;
		}

		input[type="radio"]:checked+label,
		input[type="checkbox"]:checked+label {
			background-color: $brand-secondary;
			background: linear-gradient(to right, $brand-secondary 5%, $brand-secondary-accent 95%);
			color: #fff;
			border-color: transparent;
		}

		>label {
			margin: 10px 0;
			padding: 10px 0;
			background-color: #fff;
			border: 2px solid $brand-primary;
			text-transform: none;
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 47%;
			position: relative;
			text-align: center;
			color: $link-color;
			cursor: pointer;
			@extend %v-center;
		}


	}

	.error {
		color: red;
	}

	.mktoButton {
		@extend .btn;
		margin-top: 30px;
	}
}