.icon {
	display: flex;
	justify-content: center;
	flex-direction: column;
	vertical-align: middle;

	img {
		width: 100%;
		max-width: 300px;
		height: auto;
		margin: 0 auto;
	}
}


// column classes
.columnn_5050 {
	@include flex-split(50%, left);
}

.columnn_3070 {
	@include flex-split(30%, left);
}

.columnn_7030 {
	@include flex-split(70%, left);
}

// 3 collumns
.columns_3 {
	@include flex(3);
}

// 4 collumns
.columns_4 {
	@include flex(4);
}