// Fluid Typography
// hijacked from : https://css-tricks.com/snippets/css/fluid-typography/

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}


// creates a simple 2 sided flex box
// specify a sides size and the other side will be calculated
@mixin flex-split($basis, $side) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $screen-sm) {
    flex-wrap: nowrap;
  }

  >* {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
  }

  >*:first-child {
    @media (min-width: $screen-sm) {
      padding-right: 10px;

      @if ($side=="left") {
        flex-basis: $basis;
      }

      @else {
        flex-basis: #{strip-unit(100 - $basis)+'%'};
      }
    }
  }

  >*:last-child {
    @media (min-width: $screen-sm) {
      padding-left: 00px;

      @if ($side=="right") {
        flex-basis: $basis;
      }

      @else {
        flex-basis: #{strip-unit(100 - $basis)+'%'};
      }

    }
  }
}






// creates a simple 2 sided flex box
// specify a sides size and the other side will be calculated
@mixin flex($columns) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $screen-sm) {
    flex-wrap: nowrap;
  }

  >* {
    @media (max-width: $screen-xs-max) {
      flex-basis: 100%;
      padding-bottom: #{$gutter/$columns};
    }

    @media (min-width: $screen-sm) {
      flex-basis: #{strip-unit(100 / $columns)+'%'};
      padding-right: #{$gutter/$columns};
    }

    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
  }

  // >*:first-child {
  //   @media (min-width: $screen-sm) {
  //     padding-right: 10px;

  //     @if ($side=="left") {
  //       flex-basis: $basis;
  //     }

  //     @else {
  //       flex-basis: #{strip-unit(100 - $basis)+'%'};
  //     }
  //   }
  // }

  // >*:last-child {
  //   @media (min-width: $screen-sm) {
  //     padding-left: 00px;

  //     @if ($side=="right") {
  //       flex-basis: $basis;
  //     }

  //     @else {
  //       flex-basis: #{strip-unit(100 - $basis)+'%'};
  //     }

  //   }
  // }
}












// text color
// sets text color based on background color to white or black text
@mixin set-colors($color) {
  background-color: $color;

  @if (lightness($color) > 50) {
    color: #000000; // Lighter backgorund, return dark color
  }

  @else {
    color: #ffffff; // Darker background, return light color
  }
}