main {
	min-height: 90vh;
	@include fluid-type($min_width, $max_width, 15px, 16px);

	.content {
		@extend %spacing;
	}

	a:not(.btn) {
		@extend %link;
	}



	#page_header {
		background-position: center right;

		@media (min-width: $screen-md) {
			background-position: top right;
		}

		.container {
			padding: #{$gutter * 2} #{$gutter/2};
			min-height: 200px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			vertical-align: middle;
		}
	}



	>section {
		background-position: right 55% bottom 45%;
		background-size: cover;

		@media (min-width: $screen-md) {
			padding-left: $sidebar-width;
		}

		.offset {
			position: relative;
		}
	}
}

.wrap {
	display: block;
}

.container {
	&.content {
		@media (min-width: $screen-sm) {
			padding: #{$gutter * 1.5} $gutter;
		}

		@media (min-width: $screen-sm) {
			padding: #{$gutter * 2} $gutter;
		}
	}

	position: relative;
	max-width: $content-width-max;
	margin: 0 auto;
	padding-left: $gutter;
	padding-right: $gutter;
}