// Responsive tables works in conjunction with JS function
table {
  @media (min-width: $screen-xs) {
    border: 1px solid #ccc;
  }

  border: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    display: none;

    @media (min-width: $screen-xs) {
      display: table-header-group;
      background-color: $brand-primary;
    }
  }

  tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ddd;

    @media (min-width: $screen-xs) {
      margin-bottom: 0;
      display: table-row;
      padding: 5px;
    }
  }

  td {
    display: block;
    text-align: right !important;
    padding: 0 10px;
    border-bottom: 1px solid #EAEAEA;

    @media (min-width: $screen-xs) {
      display: table-cell;
      border-bottom: 1px dotted #ccc;
      padding: 5px;
      text-align: center !important;

      &:first-child {
        text-align: left !important;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    &:before {
      content: attr(data-label);
      float: left;
      font-weight: 700;
      text-transform: capitalize;

      @media (min-width: $screen-xs) {
        content: none;
        float: none;
      }
    }
  }

  thead {

    th,
    td {
      padding: 10px;
      text-align: center;
      text-transform: capitalize;
      font-weight: bold;

      @media (min-width: $screen-xs) {
        &:first-child {
          text-align: left;
        }
      }
    }
  }
}