h1,
.title1 {
  @include fluid-type($min_width, $max_width, 30px, 38px);
  line-height: 1.2;
  color: $brand-primary;
}

h2,
.title2 {
  @include fluid-type($min_width, $max_width, 24px, 28px);
  line-height: 1.2;
  color: $brand-primary;
}

h3,
.title3 {
  font-size: 22px;
  line-height: 1.2;
  color: $brand-primary;
}

h4,
.title4 {
  font-size: 20px;
  line-height: 1.2;
  color: $brand-secondary;

}

h5,
.title5 {
  font-size: 18px;
  line-height: 1.3;
  color: $brand-secondary-accent;
}

h6,
.title6 {
  font-size: 16px;
  line-height: 1.3;
  color: $brand-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  font-weight: 700;
  text-transform: uppercase;

  small {
    display: block;
  }
}

small {
  font-size: 70%;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.footnote {
  position: relative;
  font-size: 12px;
  line-height: 1.3;
  display: block;

  >span {
    position: absolute;
    right: 100%;
  }
}

strong {
  font-weight: 700;
  // display: inline-block;
}

sup {
  font-size: 65%;
  vertical-align: baseline;
  position: relative;
  line-height: 0;
  top: -0.65em;
}

sub {
  font-size: 65%;
}


// list styles
main {

  // keep ul styles in main not isi or navs
  ul {
    padding: 0 0 0 $content-spacing;
    list-style-type: none;

    li {
      position: relative;

      // &+li {
      //   margin-top: 20px;
      // }
      &:before {
        content: "\2022";
        display: inline-block;
        position: absolute;
        font-size: 1.3em;
        line-height: 1.05em;
        left: -10px;
        top: 0;
        color: $brand-primary;
      }
    }

    ul {
      margin-top: $content-spacing;
    }
  }

  ol {
    // padding: 0 0 0 20px;
    list-style: none;
    counter-reset: num-counter;

    li {
      counter-increment: num-counter;

      &::before {
        content: counter(num-counter) ". ";
        color: $brand-primary;
        font-weight: bold;
      }
    }

    ol {
      margin: $content-spacing 0 0 $content-spacing;
    }
  }
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Consolas, monospace;
  font-size: .85em;
}

pre,
code {
  overflow: auto;
  background: #f0f0f0;
  padding: #{$gutter / 2};
  border: .0625rem solid #ddd;
  border-left: .25rem solid $brand-primary;
}



blockquote {
  position: relative;

  &:before {
    content: '\201C';
    display: block;
    height: 50px;
    position: absolute;
    color: lighten($brand-primary, 60%);
    top: -15px;
    left: -15px;
    font-size: 100px;
    line-height: 1;
    z-index: -1;
  }
}