// Media queries breakpoints \\

// Extra small screen / phone
$screen-xs: 480px;
// Small screen / tablet
$screen-sm: 768px;
$screen-xs-max: ($screen-sm - 1);
// Medium screen / desktop
$screen-md: 992px;
$screen-sm-max: ($screen-md - 1);
// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-md-max: ($screen-lg - 1);


// layout sizes \\
$sidebar-width: auto;
$page-min-height: 90vh;
$content-width-max: $screen-md;
$gutter:30px;
$content-spacing:$gutter/2;



// stick ISI vars
$expand-bar-height: 30px;
$sticky-min-height: calc(15vh - #{$expand-bar-height});
$sticky-height: calc(25vh - #{$expand-bar-height});


// Colors \\
$brand-primary: #4C2A85;
$brand-primary-accent:lighten($brand-primary, 10%);


$brand-secondary:#6B7FD7;
$brand-secondary-accent:lighten($brand-secondary, 10%);

$link-color:#320E3B;
$link-color-accent:lighten($link-color, 10%);


$body-bg:#ffffff;

$text-color: #4A4A4A;

$error: #B30B0B;

// FONTS \\
//
$font-family-sans-serif: Helvetica Neue,
Helvetica,
Arial,
sans-serif;

$font-family-serif: Georgia,
"Times New Roman",
Times,
serif;

$font-family-base: $font-family-sans-serif;
$font-size-base: 16px;
$line-height-base:1.3;

// responsive text scaling
$min_width: 320px;
$max_width: $screen-md;


//z-indexing
$sticky-isi:1;
//defailt
$nav-desktop:1;
$nav-mobile:2;
$nav-mobile-backdrop:1;
$sidebar-nav:5;

$modal-backdrop:10;