footer {
	background-color: $brand-secondary;
	color: #ffffff;
	font-size: 14px;

	@media (min-width: $screen-md) {
		padding-left: $sidebar-width;
	}

	a {
		text-decoration: none;
		color: #ffffff;

		&:hover {
			text-decoration: underline;
		}
	}

	.container {
		max-width: $content-width-max;
		padding: 50px $gutter;
		margin: 0 auto;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		flex-wrap: wrap;


		&>div {

			position: relative;

			&:first-child {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				flex: 1 1 100%;
				order: 1;


				@media (min-width: $screen-sm) {
					order: 0;
					flex: 0 0 70%;
				}

				@media (min-width: $screen-lg) {
					flex: 0 0 55%;
				}
			}

			&:last-child {
				flex: 1 1 100%;

				@media (min-width: $screen-sm) {
					flex: 1 1 30%;
				}

				@media (min-width: $screen-lg) {
					flex: 1 1 45%;
				}
			}
		}

		.footer-navigation {
			display: flex;
			flex-direction: column;

			@media (min-width: $screen-lg) {
				flex-direction: row;
			}

			ul {
				list-style-type: none;
				padding: 0;
				padding: 0;
				display: flex;
				flex: 1 1 auto;
				flex-direction: row;
				justify-content: center;
				flex-direction: column;
				margin-bottom: 30px;

				@media (max-width: $screen-md-max) {
					&:first-child {
						margin-bottom: 30px;
					}
				}

				@media (min-width: $screen-sm) {
					margin-bottom: 0;
					flex-direction: column;
					justify-content: flex-end;
				}

				@media (min-width: $screen-lg) {
					flex: 1 1 50%;
				}

				li {
					font-size: 14px;
					flex: 0 0 auto;

					@media (max-width: $screen-xs-max) {
						padding: 0 15px;
						text-align: center;
						flex: 1 0 auto;

						a {
							display: inline-block;
							padding: 5px;
							margin: 5px 0;
						}
					}

				}
			}
		}

		.copyright {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;

			.logo {
				flex: 0 0 100%;
				justify-content: flex-start;
				flex-direction: column;
				text-align: center;
				padding: 0;

				@media (min-width: $screen-sm) {
					flex: 0 0 auto;
					text-align: left;
					padding: 0 $gutter 0 0;
				}

				img {
					width: 75px;
					height: 100px;
				}
			}

			.info {
				flex: 1 0 100%;
				display: flex;
				flex: 1 1 100%;
				justify-content: flex-end;
				flex-direction: column;
				font-size: 12px;
				padding: 15px 0 15px 0;
				text-align: center;

				@media (min-width: $screen-sm) {
					flex: 1 0 auto;
					padding: 15px 15px 0 0;
					text-align: left;
				}
			}
		}
	}
}