main {
	min-height: 90vh;

	section {
		background-position: right 55% bottom 45%;
		background-size: cover;

		@media (min-width: $screen-md) {
			padding-left: $sidebar-width;
		}

		.offset {
			position: relative;
		}

		.container {
			padding: 8vw $gutter;

			@media (min-width: $screen-sm) {
				padding: 80px $gutter;
			}

			@media (min-width: $screen-sm) {
				padding: 100px $gutter;
			}
		}
	}

}