// emergence js global rules

img {
	&[data-emergence] {
		transition: opacity 0.5s ease-in;
	}

	&[data-emergence=hidden] {
		transition: opacity 0.5s ease-in;
		opacity: 0;
	}

	&[data-emergence=visible] {
		opacity: 1;
	}

	@media (max-width: $screen-xs-max) {
		&[data-emergence=hidden] {
			opacity: 1;
		}

		&[data-emergence=visible] {
			opacity: 1;
		}
	}
}

.solo,
// solo class just for demo page remove if unwanted
.expand {
	margin: $content-spacing 0 0;
	border-top: 1px solid #e1e1e1;

	&+.expand {
		margin-top: 0;
	}

	>:last-child {
		transition: all 0.3s ease;
		overflow: hidden;
		margin: 0;
		position: relative;
		display: block;
		box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.15);

		>.content {
			padding: 20px 15px 20px 50px;
		}
	}

	&.show>:last-child {
		height: auto;
		max-height: 100vh;
		transition: all 0.5s ease;
	}

	&>:first-child {
		background-color: $brand-secondary;
		font-weight: 700;
		color: #fff;
		position: relative;
		padding: 15px 15px 15px 50px;
		cursor: pointer;
		text-transform: uppercase;

		&::before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 20px;
			left: 0;
			top: 0;
			bottom: 0;
			right: 20px;
			background-color: $brand-primary;
		}
	}

	&.show>:first-child::after {
		content: "\f106";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		color: $brand-primary;
		font: normal normal normal 30px/1.5 FontAwesome;
		font-size: 30px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}

	&.hide>:first-child::after {
		content: "\f107";
		display: block;
		color: $brand-primary;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		font: normal normal normal 30px/1.5 FontAwesome;
		font-size: 30px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}

	&.hide>:last-child {
		padding: 0;
		max-height: 0;
		overflow: hidden
	}
}