// Basic Modal Styles
.modal_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999999;
}

.modal_container {
	position: relative;
	background-color: #fff;
	padding: 30px;
	width: 100vw;
	max-width: 700px;
	max-height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal_title {
	margin-top: 0;
	margin-bottom: 0;
	color: #00449e;
	box-sizing: border-box;
}

.modal_close {
	background: transparent;
	border: 0;
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;

	* {
		pointer-events: none;
	}
}



.modal_content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	width: 100%;
}


/**************************\
  Modal Animation
\**************************/
@keyframes modalFadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes modalFadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes modalSlideIn {
	from {
		transform: translateY(15%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes modalSlideOut {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}

.modal-slide {
	display: none;
}

.modal-slide.is-open {
	display: block;
}

.modal-slide[aria-hidden="false"] .modal_overlay {
	animation: modalFadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal-slide[aria-hidden="false"] .modal_container {
	animation: modalSlideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal-slide[aria-hidden="true"] .modal_overlay {
	animation: modalFadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal-slide[aria-hidden="true"] .modal_container {
	animation: modalSlideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal-slide .modal_container,
.modal-slide .modal_overlay {
	will-change: transform;
}

/**************************\
  Modal spicific styles
\**************************/

#external {
	.modal_content {
		@extend %spacing;
		text-align: center;

	}

	.modal_close {
		width: 30px;
		height: 30px;
		display: block;
		color: $text-color;
		font-size: 30px;
		padding: 0;
		text-align: center;
		line-height: 1;

		i {
			pointer-events: none;
		}
	}

	.buttons {
		.btn:first-child {
			margin-right: 30px;
		}
	}
}