#isi {



  a:not(.btn) {
    @extend %link;
  }

  #isi-container {
    padding: 50px 0;
  }

  .ISI-content {
    @extend %spacing;
    padding-left: $gutter;
    padding-right: $gutter;
    margin: auto;
    width: 100%;

    ul {
      padding: 0 0 0 20px;
      list-style-type: disc;
    }
  }

  #isi_sticky {
    visibility: hidden;
    position: fixed;
    z-index: $sticky-isi;
    width: 100%;
    opacity: 0.95;
    background-color: $body-bg;
    box-shadow: 0 25px 25px 20px rgba(0, 0, 0, 0.4);

    &.expanded {
      .scroll-container {
        // fallbacks
        height: 90vh;
        height: calc(100vh - #{$expand-bar-height});
        /* ^^ Fallback for browsers that do not support Custom Properties ^^*/
        height: calc((var(--vh, 1vh) * 100) - #{$expand-bar-height});
      }
    }

    &.minimized {
      .scroll-container {
        height: $sticky-min-height;
      }
    }

    .sticky-isi,
    .sticky_content {
      height: 100%;

    }

    .isi-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
    }

    .sticky-isi {
      border-bottom-left-radius: unset;
      box-shadow: unset;
    }

    &.show {
      visibility: visible;

      .toggle-isi:not(i) {
        display: block;
      }
    }

    .scroll-container {
      position: relative;
      height: 22.5vh;
      height: $sticky-height;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
      }

      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
      }

      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }

  .expand_isi {
    position: relative;
    width: 100vw;
    height: $expand-bar-height;
    margin: 0;
    background: $brand-primary;

    @media (min-width: $screen-md) {
      padding-left: $sidebar-width;
    }


    button {
      outline: 1px solid red;
      position: relative;
      z-index: 1;
      float: right;
      width: 30px;
      height: 30px;
      top: 0;
      text-align: center;
      font-size: 30px;
      line-height: 30px;
      padding: 0;
      border: 0;
      background-color: transparent;
      transition: text-shadow 0.2s linear;
      border: 1px solid rgba(0, 0, 0, 0.1);
      //reset button vars:
      min-width: auto;
      min-height: auto;
      box-shadow: none;

      ;

      &:hover {
        transform: scale(1.1);
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      }

      &:focus {
        outline: 0;
      }

      .fa {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;
        line-height: inherit;

        &::before {
          position: absolute;
          letter-spacing: 0;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
        }
      }
    }
  }


  .ISI-container {
    padding: 0 15px;
    margin: 0 auto;
    color: $text-color;

    @media (min-width: $screen-md) {
      margin: 0 auto 0 $sidebar-width;
    }

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }

    .scroll-container {
      max-width: $content-width-max;
      margin: 0 auto;
    }
  }
}