block vars
include ../includes/variables.pug
doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')

		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="manifest", href="/site.webmanifest")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#fcb528")
		meta(name="msapplication-TileColor", content="#fcb528")
		meta(name="theme-color", content="#ffffff")

		title #{page_title}
		
		meta(name='description', content=page_description)
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block meta

		link(rel='stylesheet', href='/css/styles.css')

		body(class=page_name.replace(/ /g, '_').toLowerCase()+' '+ (section_name ? "child parent_"+section_name.replace(/ /g, '_').toLowerCase() : ""))
			.wrap(role='document')
				include ../includes/header.pug
				main.main(role='main')
					include ../includes/post-content.pug
					block main
					include ../includes/post-content.pug
				include ../includes/footer.pug
			include ../includes/page_end.pug
