extends ../../templates/base.pug
block vars
	-
		const section_name = ""; // -optional- leave blank if no parent section
		const page_name = "Home"; // -required-
		const page_title = "Page name here"
		const page_description = "Description"
block meta
	meta(name="test" content="testing")


block main

	section#section_01
		.offset
			.container.content
				h1 h1 style #{fileDir}
				h2 h2 style
				h3 h3 style
				h4 h4 style
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt architecto aspernatur nostrum voluptates rerum reprehenderit sapiente culpa? Vitae laudantium voluptatum quas voluptas quidem, atque velit doloremque, ad id, ipsa consequatur.
				ul
					li list item
					li list item
					li list item
				button.btn(type="button") button style
				button.btn(type="button" class="modalTrigger" data-modal="demo") modal trigger
				p This is an inline text <a href="" class="modalTrigger" data-modal="demo">modal trigger</a>, but modals as with most JavaScript triggers should usually be triggered buttons. Unless were augmenting standard functinality like an <a href="http://google.com">exit modal</a>, external modals have a whitelist for allowing external links to bypass the external validation.



