extends ../templates/base.pug
block vars
	-
		const section_name = ""; // -optional- leave blank if no parent section
		const page_name = "Home"; // -required-
		const page_title = "Page name here"
		const page_description = "Description"
block meta
	meta(name="test" content="testing")


block main

	section#section_01
		.offset
			.container.content
				h1 ERROR 404


