extends ../templates/base.pug
block vars
	-
		const section_name = ""; // -optional- leave blank if no parent section
		const page_name = "Home"; // -required-
		const page_title = "Page name here"
		const page_description = "Description"
block meta
	meta(name="test" content="testing")


block main

	section#section_01
		.offset
			.container.content
				h2 Element syles:

				h1 Heading 1
					small Subheading
				h2 Heading 2
					small Subheading
				h3 Heading 3
					small Subheading
				h4 Heading 4
					small Subheading
				h5 Heading 5
					small Subheading
				h6 Heading 6
					small Subheading
				hr
				ul
					li unordered list item
						ul
							li unordered list item
							li unordered list item
								ul
									li unordered list item
									li unordered list item
					li unordered list item
					li unordered list item
				ol
					li ordered list item
						ol
							li ordered list item
							li ordered list item
					li ordered list item
					li ordered list item
				p This is a paragraph. It contains many different, sometimes useful,HTML5 tags. Of course there are classics like #[em emphasis], #[strong strong], and #[small small] but there are many others as well.

				blockquote(cite='www.quotation.source') block quote example Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure voluptatum tenetur cupiditate quibusdam quaerat architecto eum, quae consequuntur repellat maxime tempora ut, doloribus porro sed aliquid magnam dolorum corporis repellendus.



	section#section_02
		.offset
			.container.content
				h2 Layout:
				p Most of our work is designed in 2 column layouts. Our flex-split mixin is aids in applying this common pattern.
				p This mixin takes 2 arguments size in percent and the side(left,right) to apply the size to.
				h4 50/50 split
				.columnn_5050
					div(style='outline:1px dotted grey;') content A
					div(style='outline:1px dotted grey;') content B

				h4 30/70 split
				.columnn_3070
					div(style='outline:1px dotted grey;') content A
					div(style='outline:1px dotted grey;') content B

				h4 70/30 split
				.columnn_7030
					div(style='outline:1px dotted grey;') content A
					div(style='outline:1px dotted grey;') content B
				pre.
					.columnn_3070 {
						@include flex-split(30%, left);
					}
				hr
				p Aside from 2 column layouts we have a flex mixin for multiple evenly sized columns
				h3 3 columns
				.columns_3
					div(style='outline:1px dotted grey;') content A
					div(style='outline:1px dotted grey;') content B
					div(style='outline:1px dotted grey;') content C

				h3 4 columns
				.columns_4
					div(style='outline:1px dotted grey;') content A
					div(style='outline:1px dotted grey;') content B
					div(style='outline:1px dotted grey;') content C
					div(style='outline:1px dotted grey;') content D
				pre.
					.columns_3 {
						@include flex(3);
					}

	section#section_02
		.offset
			.container.content
				h2 JS Functionality:
				p Expand blocks have 2 children.
				ul
					li first child: is the "question" or title that expands/collapses the second child
					li second child: is the content that is shown/hidden
				.expand
					.q the question
					.a
						.content and the answer in a #[samp .content ] wrapper (for smoother transitions)
				.expand
					.q another question
					.a
						.content and the answer in a #[samp .content ] wrapper (for smoother transitions)

				.solo
					.first another question
					.second
						.content and the answer in a #[samp .content ] wrapper (for smoother transitions)
				hr

				h4 Modals & jumplinks
				p Modal and jump link functionality are handeled by javascipt objects in js/tools/.
				a(class="modalTrigger" data-modal="demo") Modal links look like this
				p and can be buttons too
				button.btn(type="button" class="modalTrigger" data-modal="demo") modal trigger
				p #[a(href="#isi-container") jump links] are just normal jump links but smooth scroll is handeled by JS untill browsers fully support smooth scroll



	section#section_03
		.offset
			.container.content
				figure
					img(src='https://www.fillmurray.com/505/314')
					figcaption
						| Fig1. A picture of Bill Murray from
						a(href='https://www.fillmurray.com/') fillmurray.com


	section#section_04
		.offset
			.container.content
				h3 Default form element styles
				form
					p
						label(for='example-input-email') Email address
						input#example-input-email(type='email' placeholder='Enter email')
					p
						label(for='example-input-password1') Number
						input#example-input-number(type='number' placeholder='Number')
					p
						label(for='example-input-password') Password
						input#example-input-password(type='password' placeholder='Password')
					p
						label(for='example-input-search') Search
						input#example-input-serach(type='search' placeholder='Search ..')
					p
						label(for='example-input-tel') Telephone number
						input#example-input-tel(type='tel' placeholder='Telephone number')
					p
						label(for='example-input-text') Text
						input#example-input-text(type='text' placeholder='Enter some text here')
					p
						label(for='example-input-url') Url
						input#example-input-url(type='url' placeholder='Enter a url here')
					p
						label(for='example-input-color') Color
						input#example-inupt-color(type='color' placeholder='#fff')
					p
						label(for='example-input-date') Date
						input#example-input-date(type='date' placeholder='date')
					p
						label(for='example-input-date-time') Date / Time
						input#example-input-date-time(type='datetime' placeholder='date / time')
					p
						label(for='example-input-date-time-local') Date / Time local
						input#example-input-date-time-local(type='datetime-local' placeholder='date / time local')
					p
						label(for='example-input-month') Month
						input#example-input-month(type='month' placeholder='Month')
					p
						label(for='example-input-week') Week
						input#example-input-week(type='week' placeholder='Week')
					p
						label(for='example-input-time') Time
						input#example-input-time(type='time' placeholder='Time')
					p
						label(for='example-select1') Example select
						select#example-select1
							option 1
							option 2
							option 3
							option 4
							option 5
					p
						label(for='example-select2') Example multiple select
						select#example-select2(multiple='')
							option 1
							option 2
							option 3
							option 4
							option 5
					p
						label(for='example-textarea') Example textarea
						textarea#example-textarea(rows='3')
					p
						label(for='example-input-file') File input
						input#example-input-file(type='file')
					fieldset
						legend I am legend
						div
							label
								input#optionsR-radios1(type='radio' name='options-radios' value='option1' checked='')
								|  Option one is this and that&mdash;be sure to include why it&apos;s great
						div
							label
								input#options-radios2(type='radio' name='options-radios' value='option2')
								|  Option two can be something else and selecting it will deselect option one
						div
							label
								input#options-radios3(type='radio' name='optionsRadios' value='option3' disabled='')
								|  Option three is disabled
					fieldset
						legend I am also legend
						input(type='checkbox')
						|  Check me out
						input(type='checkbox')
						|  Or check me out
					p
						button(type='button' name='button') Button
						input(type='button' name='input' value='Input Button')
						input(type='submit' name='submit' value='Submit Button')
						input(type='reset' name='reset' value='Reset Button')

